@import url('https://fonts.googleapis.com/css2?family=Quattrocento+Sans&family=Raleway:wght@200&family=Rochester&display=swap');

/* Font Senttings*/
p {
  font-family: 'Quattrocento sans';
  font-size: 18pt;
}

h1{
  font-family: 'Rochester', cursive;
 
}

h2{
  font-family: 'RALEWAY' ;
}

/* logo and header */
.logoBlock{
  background-color: #d6c1ad;
  text-align: center;
}
.logoBlock h1{
  font-size: 75pt;
}
.logoBlock h1 {
  margin-top: 0.1em;
  margin-bottom: 0;
}
.logoBlock img{
  margin-top: 1em;
}


/* Motto block */
.mottoBlock {
  text-align: center;
  font-size: 25pt;
  background-color: #b77c7e;
  padding: 10px 0;
}
.mottoBlock h2 {
  margin: 10px auto;
  font-family: "RALEWAY";
  font-weight: bold;
  font-size: 30pt;
}

/*What Do doulas do */
#purpose {
  text-align: center;
  margin-top: 10em;
}
#purpose h1 {
  text-align: left;
  font-size: 25pt;

}
#purpose .purposeText{
  width: 80%;
  margin: 0 auto;
}
#purpose h3{
  color: #b77c7e;
  font-size: 20pt;
}
#purpose p{
  font-size: 15pt;
}

/* Service Block */
#services {
  margin-top: 5em;
  margin-bottom: 1em;
  padding: 1em 0;
  display: block;
  position: relative;
}
#services::after {
  
  content: '';
  background-image: url(../Content/cover.pink.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
#services .serviceText {
  width: 60%;
  margin: 0 auto; 
}
#services .service{
  display: flex;
  text-align: left;
}
#services .price{
  margin-left: auto;
}
#services .includes{
  font-weight: 100;
}

/*About Block */
#about{
  text-align: center;
  display: block;
  position: relative;
  padding: 1em 0%;
}
#about::after{
  content: '';
  background-color: #d6c1ad;
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
#about h1{
  text-align: left;
}
#about h3{
  font-size: 20pt;
}
#about p {
  width: 90%;
  margin: 0 auto;
  font-size: 13pt;
}
#about .Name{
  padding-bottom: 2em;
}
#about img{
  width: 10%;
  height: 10%;
  margin-top: 1em;
}

/*Review Block */
#reviews .reviewTitle{
  text-align: left;
}
#reviews .review h3{
  font-size: 20pt;
  text-align: center;
}
#reviews .reviewBlocks{
  display: flex;
  flex-direction: row; 
}
@media only screen and (max-width: 800px) {
  #reviews .reviewBlocks{
    flex-direction: column; 
  }
}
#reviews .review{
  min-width: 200px;
  max-width: 400px;
  width: 20%;
  border: 3px solid #894b60;
  border-radius: 1em;
  text-align: left;
  box-shadow: 5px 2px;
  padding: 0px 1em;
  margin: 1em auto;
}#reviews .review .name {
  font-size: 10pt;
}
#reviews .review a {
  text-decoration: none;
  font-family: 'Quattrocento sans';
  color: #894b60;
}

/* Media links */
#socialMedia {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  width: fit-content;
}
#socialMedia .media img {
  width: 5em;
  margin: 10em 5em;
}

/*Contact Us*/
#contactUs{
  text-align: center;
  background-color: #d6c1ad;
  padding: 1em 1em;
}
#contactUs .contactTitle{
  text-align: left;
}
#contactUs .contactText{
  width: 75%;
  margin: 0 auto;
}
.phoneNum{
  display: flex;
  justify-content: center;
}
.phoneNum p {
  margin: 1em 5px;
}
.email{
  display: flex;
  justify-content: center;
}
.email p, a {
  margin: 1em 1%;
  font-family: 'Quattrocento sans';

}
.email a {
  color: #894b60;
  font-size: 18pt;
  text-decoration: none;
}
.location h2 {
  font-family: 'RALEWAY';
  font-weight: bold;
  color: #894b60;
}

.bookNow{
  background-color: #894b60;
  width: 300px;
  height: 100px;
  text-align: center;
  margin: 2em auto;
  border-radius: 1em;
}
.bookNow a{
  text-decoration: none;
  color: #d6c1ad;
  position: relative;
  top: 0.5em;
  font-family: 'RALEWAY';
  font-size: 20pt;
}


/*Form Styling*/
.contactUsImage img{
  margin: 12%;
  border-radius: 2em;
}
#consultForm .formContainer{
  background-color: #d6c1ad;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 25% auto;
  padding: 25% 0;
} 

.colLbl{
  font-family: 'Quattrocento sans';
}

 input[type=text]{
  width: 50%;
  padding: 12px 20px;
  margin: 2em 0;
  border: none;
  border-bottom: 2px solid #b77c7e;
  border-radius: 1em;
}

input[type=submit]{
  width: 40%;
  background-color: #b77c7e;
  color: #d6c1ad;
  height: 4em;
  margin: 0 5%;
  border-radius: 0.5em;
}
.footer{
  margin: 50px auto 1em auto;
  background-color: #d6c1ad;
  padding: 0 1em;
  display: flex;
  font-size: 10pt;
  text-decoration:none;
}
.footer p{
  font-size: 10pt;
}
